/* Tabs bar  */

@namespace xul "http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul";

/* Override visibility for all elements */
#TabsToolbar,
#tabbrowser-tabs,
#alltabs-button,
#tabbrowser-tabs arrowscrollbox,
tab > stack,
#scrollbutton-up,
.scrollbox-clip[orient="horizontal"] ~ #scrollbutton-down,
.tabbrowser-tab,
.tab-background,
.tab-content,
.tab-icon-image,
.tab-icon-sound,
.tab-label,
.tab-label-container,
.tab-throbber,
.tab-throbber-fallback,
.tab-icon-overlay,
.tab-close-button,
.tab-close-button {
  visibility: hidden !important;
  height: 0 !important;
  padding: 0 !important;
  font-size: 0 !important;
  background: 0 !important;
  border: 0 !important;
  border-bottom: 0 !important;
  width: 0 !important;
  margin-inline: 0 !important;
  margin: 0 !important;
  min-height: 0 !important;
  bottom:0 !important;
  top: 0 !important;
  border-image: none !important;
  margin-block: 0 !important;
  margin-top: -5px !important;
  display: none !important; 
  background-size: 0;
}